{% extends "index.html" %}

{% block content %}
<div class="container">
    <form>
        <div class="row">
            <div class="col m-md-1">
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col m-md-1">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="row">
            <div class="col m-md-1">
                <input type="text" class="form-control" placeholder="Phone Number">
            </div>
            <div class="col m-md-1">
                <input type="text" class="form-control" placeholder="Vehicle Registration">
            </div>
        </div>
        <div class="row">
            <div class="col m-md-1">
                <input type="text" class="form-control" placeholder="Company">
            </div>
            <div class="col m-md-1">
                <input type="text" class="form-control" placeholder="Destination">
            </div>
        </div>
        <div class="row">
            <div class="col m-md-1">
                <input type="text" class="form-control" placeholder="Gate">
            </div>
            <div class="col m-md-1">
                <input type="text" class="form-control" placeholder="Parking Time Limit">
            </div>
        </div>
        <div class="row">
            <div class="col m-md-1">
                <input type="text" class="form-control" placeholder="Officer's Name">
            </div>
            <div class="col m-md-1">
                <div class="btn-lg btn-primary btn-block">Add Passengers</div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
