{% extends "index.html" %}

{% block content %}
<div class="container">
    <form method="POST" action="" class="signature-pad-form">
        {% csrf_token %}
        <!-- <div class="row">
            <div class="col m-md-1">
                <label for="id_first_name">First Name:</label>
                <div>{{ form.first_name }}</div>
            </div>
            <div class="col m-md-1">
                <label for="last_name">Last Name:</label>
                <div>{{ form.last_name }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col m-md-1">
                <label for="phone_number">Phone Number:</label>
                <div>{{ form.phone_number }}</div>
            </div>
            <div class="col m-md-1">
                <label for="registration">Vehicle Registration:</label>
                <div>{{ form.registration }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col m-md-1">
                <label for="company">Company:</label>
                <div>{{ form.company }}</div>
            </div>
            <div class="col m-md-1">
                <label for="destination">Destination:</label>
                <div>{{ form.destination }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col m-md-1">
                <label for="gate_number">Gate:</label>
                <div>{{ form.gate_number }}</div>
            </div>
            <div class="col m-md-1">
                <label for="parking_time_limit">Parking Time Limit:</label>
                <div>{{ form.parking_time_limit }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col m-md-1">
                <label for="officers_name">Officer Name:</label>
                <div>{{ form.officers_name }}</div>
            </div>
            <div class="col m-md-1">
                <div type="button" class="btn-sm pb-2 pt-2  btn-primary btn-block mt-4" data-bs-toggle="collapse"
                    data-bs-target="#collapse-target" aria-expanded="false" aria-controls="collapse-target">Add
                    Passengers</div>
            </div>
            <div class="collapse" id="collapse-target">
                <div class="row">
                    <div class="col m-md-1">
                        <label for="passenger1_first_name">Passenger 1 First Name:</label>
                        <div>{{ form.passenger1_first_name }}</div>
                    </div>
                    <div class="col m-md-1">
                        <label for="passenger1_last_name">Passenger 1 Last Name:</label>
                        <div>{{ form.passenger1_last_name }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m-md-1">
                        <label for="passenger2_first_name">Passenger 2 First Name:</label>
                        <div>{{ form.passenger2_first_name }}</div>
                    </div>
                    <div class="col m-md-1">
                        <label for="passenger2_last_name">Passenger 2 Last Name:</label>
                        <div>{{ form.passenger2_last_name }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m-md-1">
                        <label for="passenger3_first_name">Passenger 3 First Name:</label>
                        <div>{{ form.passenger3_first_name }}</div>
                    </div>
                    <div class="col m-md-1">
                        <label for="passenger3_last_name">Passenger 3 Last Name:</label>
                        <div>{{ form.passenger3_last_name }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m-md-1">
                        <label for="passenger4_first_name">Passenger 4 First Name:</label>
                        <div>{{ form.passenger4_first_name }}</div>
                    </div>
                    <div class="col m-md-1">
                        <label for="passenger4_last_name">Passenger 4 Last Name:</label>
                        <div>{{ form.passenger4_last_name }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m-md-1">
                    <label for="entry_date">Date:</label>
                    <div>{{ form.entry_date }}</div>
                </div>
                <div class="col m-md-1">
                    <label for="created_on">Created:</label>
                    <div>{{ form.created_on }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col m-md-1">
                    <label for="time_in">Time In:</label>
                    <div>{{ form.time_in }}</div>
                </div>
                <div class="col m-md-1">
                    <label for="time_out">Time Out:</label>
                    <div>{{ form.time_out }}</div>
                </div>
            </div>
            
             -->
            <div class="container border">

            
            <div class="row">
                <div class="col-8">
                    <h1>Site Rules</h1>
                    <ul>
                        <li>The emergency contact phone number on site is 6666</li>
                        <li>The speed limit on site is 15ph</li>
                        <li>Smoking is only permitted in designated smoking shelters</li>
                        <li>Park only in designated parking spaces</li>
                        <li>Children under the age of 18 are not allowed on site</li>
                        <li>Parking is permitted for 30 minutes unless advised otherwise</li>
                        <li>All vehicles entering site are subject to search</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h1>Acknowledgement</h1>
                    <p>I, the undersigned, understand and accept the site rules</p>

                    <p>
                        <strong>Signature</strong>
                    </p>

                    <canvas height="200px" width="320px" class="signature-pad border" ></canvas>
                    <div class="col m-md-1">
                        <label for="signature">Signature Data:</label>
                        <input type="text" class="form-control" id="signature" name="signature">
                    </div>

                    <p>
                        <a href="#" class="clear-button">Clear</a>
                    </p>

                    <button id="confirm-signature" type="button">Confirm Signature</button>

                    <button class="submit-button" type="submit">SUBMIT</button>
                </div>

            </div>
        </div>
        {{form}}
    </form>

    
        
    
</div>

{% endblock %}
