{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg"
            role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" >
            </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="container">
    <form method="POST" action="" class="signature-pad-form">
        {% csrf_token %}
        <div class="row">
            

            <div class="input-group mb-3 col m-md-1">
                
                <div class="input-group-prepend">
                
                  <span class="input-group-text" id="first_name"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="24" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                  </svg></span>
                </div>
                
                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First name">
              </div>

              <div class="input-group mb-3 col m-md-1">
                
                <div class="input-group-prepend">
                
                  <span class="input-group-text" id="first_name"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="24" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                  </svg></span>
                </div>
                
                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name">
              </div>


            
              <div class="input-group mb-3 col m-md-1">
                
                <div class="input-group-prepend">
                    <span> <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-building-fill" viewBox="0 0 16 16">
                        <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H3Zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Z"/>
                      </svg></span>
                   
                  
                </div>
                
                <input type="text" id="company" name="company" class="form-control" placeholder="Company">
              </div>


            <div class="col m-md-1">
                <div>
                    <button class="search-button" type="submit">SUBMIT</button>
                </div>
            </div>
        </div>
    </form>

    <div class="container bg-success border">
        <div class="row border">
            <div class="col-12">
                <strong>Search Result</strong>
            </div>
        </div>
        <div class="row border">
            <div class="col-2 d-none d-xl-block">
                <strong>Name</strong>
            </div>
            <div class="col-1 d-none d-xl-block">
                <strong>Company</strong>
            </div>
            <div class="col-1 d-none d-xl-block">
                <strong>Destination</strong>
            </div>
            <div class="col-2 d-none d-xl-block">
                <strong>Entry Date</strong>
            </div>
            <div class="col-1 d-none d-xl-block">
                <strong>Time In</strong>
            </div>
            <div class="col-1 d-none d-xl-block">
                <strong>Time Out</strong>
            </div>
            <div class="col-1 text-center d-none d-xl-block">
               <strong>On Site</strong>
            </div>
            <div class="col-1 text-center d-none d-xl-block">
                <strong>Off Site</strong>
             </div>
            <div class="col-2 text-center d-none d-xl-block">
                <strong>More Info</strong>
            </div>
        </div>
        
        {% for item in items %}
        <div class="row border">
            <div class="col-6 d-xl-none">
                Name
            </div>
            <div class="col-6 col-xl-2">
                {{ item.first_name}} {{item.last_name}}
            </div>
            <div class="col-6 d-xl-none">
                Company
            </div>
            <div class="col-6 col-xl-1">
                {{ item.company}}
            </div>
            <div class="col-6 d-xl-none">
                Destination
            </div>
            <div class="col-6 col-xl-1">
                {{ item.destination}}
            </div>
            <div class="col-6 d-xl-none">
                Entry Date
            </div>
            <div class="col-6 col-xl-2">
                {{ item.entry_date|date:"d/m/y"}}
            </div>
            <div class="col-6 d-xl-none">
                Time In
            </div>
            <div class="col-6 col-xl-1">
                {{ item.time_in|date:"G:i"}}
            </div>
            <div class="col-6 d-xl-none">
                Time Out
            </div>
            <div class="col-6 col-xl-1" id="time_out{{item.id}}">
                {{ item.time_out|date:"G:i"}}
            </div>
            <div class="btn-group col-md-2" role="group" aria-label="...">
                <button type="button" name="in" class="btn btn-primary w-100">In</button>
                <button type="button" name="out" class="btn btn-primary w-100"><a
                        href="edit_time_out/{{item.id}}">Out</a></button>
            </div>
            <div class="col-md-8 d-xl-none"></div>
            <div class="col-md-2">
                <button class="btn btn-sm w-100 text-center btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-target{{item.id}}" aria-expanded="false" aria-controls="collapse-target">
                    More
                </button>
            </div>
            <div class="collapse" id="collapse-target{{item.id}}">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-3">
               
                            <div><strong>Record Created:</strong></div>
                            <div><strong>Phone number:</strong></div>
                            <div><strong>Registration Number:</strong></div>
                            <div><strong>Granted Entry by:</strong></div>
                            <div><strong>Entry Gate</strong></div>
                            <div><strong>Parking Expiration</strong></div>
                            <div><strong>Signature</strong></div>
                            <div><strong>On Site Status</strong></div>
                        </div>
                        <div class="col-3">
                            <div>{{ item.created_on|date:"d/m/y - G:i" }}</div> 
                            <div>{{ item.phone_number }}</div> 
                            <div>{{ item.registration }}</div>
                            <div>{{ item.officers_name }}</div>
                            <div>{{ item.gate_number }}</div>
                            <div>{{ item.parking_time_limit|date:"G:i" }}</div>
                            
                            <div><img height="200px" width="320px" style="display: block;" src="{{item.signature}}"></div> 
                            <div>{{ item.on_site_status }}</div>  
                        </div>

                        <div class="col-3">
                            <div><strong>Passenger 1</strong></div>
                            <div><strong>Passenger 2</strong></div>
                            <div><strong>Passenger 3</strong></div>
                            <div><strong>Passenger 4</strong></div>
                        </div>

                        <div class="col-3">
                            <div>{{ item.passenger_1 }}</div>
                            <div>{{ item.passenger_2 }}</div>
                            <div>{{ item.passenger_3 }}</div>
                            <div>{{ item.passenger_4 }}</div>
                        </div>
                    </div>
                    
                     
                </div>
            </div>
        </div>
        
        
        {% endfor %}
    
    </div>
        
    
</div>

{% endblock %}
